body{
    font-weight: 900;
    font-family: Raleway;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: start ;
}
nav{
    padding: 1em 20em ;
    width: 30%;
    display: flex;
    justify-content: end;
}
section{
    width: 50%;
    height: 30%;
    padding:2em 2em 6em 2em ;
    margin:10em 20em;
    border: 1px black solid;
    border-radius: 30px 10px 30px 10px;
    box-shadow: 30px 20px 1px rgb(41,100,146);
}
a{
    font-weight: 900;
    color: rgb(41,100,146);
    text-decoration: none;
    padding:1em 1.5em;
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 5px 4px 1px rgb(41,100,146);
}
a:hover{
    position:relative;
    top: 5px;
    left: 4px;
    box-shadow: none;

}
p{
    padding:1em;
}
.divButton{
    text-align: end;
}
.button{
    
    font-weight: 900;
}
.button:hover{
    position:relative;
    top: 5px;
    left: 4px;
    box-shadow: none;

}
.bonjour{
    font-size: 17px;
    color: rgb(125, 125, 125);
}
h1{
    font-size: 40px;
    color: rgb(27, 65, 95);
}
h2{
    font-size: 30px;
    color:rgb(41,100,146);
}
p{
    color:rgb(41,100,146);
}


section {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left:0;
    bottom: 200px;
    transform: translateY(40%);
    opacity:0;
    animation: moovUp 1s ease-out forwards ;
    
    

}
header {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left:0;
    bottom: 200px;
    transform: translateY(-10%);
    opacity:0;
    animation: moovDown 0.6s ease-out forwards ;

}

@keyframes moovUp {
    100%{
        opacity: 1;
        transform: translateY(20%);
    }
    
   
}
@keyframes moovDown {
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
   
}

@media screen and (max-width:1500px){
    section{
        padding-bottom: 15%;
    }
}
@media screen and (max-width:900px){
    section{
        padding-bottom: 20%;
    }
    p{
        display:none;
    }
    a{
        margin: 2em;
    }
}








